@font-face {
  font-family: 'Final Fantasy';
  src: url('fonts/New.woff2') format('woff2'),
    url('fonts/New.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3c6570, #09162d);
  background-color: #292929;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  position: relative;
}

h1 {
  font-family: 'Final Fantasy' !important;
  font-weight: 50;
  font-size: 48px;
  margin-bottom: 40px;
  text-shadow: 2px 2px #000;
}

#message-container {
  position: relative;
}

#message {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #384a52;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

#char-image {
  opacity: 0;
  margin-bottom: 10px;
  position: static;
  height: 100px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #00bf89;
  border: none;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #006f50;
}

.visible {
  opacity: 1 !important;
}
